@page
@model SchoolMedical.RazorWebApp.HoaLQ.Pages.Forbidden
@{
    ViewData["Title"] = "Forbidden";
}

<div class="row text-center">
    <h1 class="text-danger">Forbidden</h1>
    <h1 class="text-danger">You do not have permission to do this function!</h1>
</div>